<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="/admin_edit_dept_post">
<h3 align="center">Add Department</h3>
  <table width="378" height="107" border="0" align="center">
    <tr>
      <td width="203">Department Name :<input type="hidden" value="{{ a["dept_id"] }}" name="dept_id"></td>
      <td width="165"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ a["dept_name"] }}"/></td>
    </tr><tr>
      <td width="203">Place :</td>
      <td width="165"><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ a["place"] }} "/></td>
    </tr><tr>
      <td width="203">Latitude :</td>
      <td width="165"><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ a["latitude"] }}" /></td>
    </tr><tr>
      <td width="203">Longitude :</td>
      <td width="165"><label for="textfield"4></label>
      <input type="text" name="textfield4" id="textfield4" value="{{ a["longitude"] }}"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Update" /></td>
    </tr>
  </table>
</form>
</body>
</html>