{% extends "admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/admin_edit_dept_post">
<h3 align="left">Edit Department</h3>
  <table class="table">
    <tr>
      <td width="203">Department Name :<input type="hidden" value="{{ a["dept_id"] }}" name="dept_id" class="form-control"></td>
      <td width="165">
      <input type="text" name="textfield" id="textfield" value="{{ a["dept_name"] }}" class="form-control"/></td>
    </tr><tr>
      <td width="203">Place :</td>
      <td width="165">
      <input type="text" name="textfield2" id="textfield2" value="{{ a["place"] }} " class="form-control"/></td>
    </tr><tr>
      <td width="203">Latitude :</td>
      <td width="165">
      <input type="text" name="textfield3" id="textfield3" value="{{ a["latitude"] }}" class="form-control"/></td>
    </tr><tr>
      <td width="203">Longitude :</td>
      <td width="165">
      <input type="text" name="textfield4" id="textfield4" value="{{ a["longitude"] }}" class="form-control"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Update" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
{% endblock %}