<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/admin_add_dept">add dept</a><br>
<a href="/admin_manage_dept">manage dept</a><br>
<a href="/admin_add_staff">add staff</a><br>
<a href="/admin_manage_staff">manage staff</a><br>
<a href="/admin_add_work">add work</a><br>
<a href="/admin_manage_work">manage work</a><br>
<a href="/admin_teamleader_assign">teamleader assignment</a><br>
<a href="/admin_view_teamleader">View teamleader</a><br>
<a href="/admin_view_assignedwork">View Assigned Work</a><br>

</body>
</html>