{% extends "admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
<h2 align="center">Manage work</h2>
  <table width="618" height="117" border="1" align="center">
    <tr>
      <td width="49">No</td>
      <td width="91">Title</td>
        <td width="91">Department</td>
      <td width="70">Description</td>
      <td width="70">Submission Date </td>
      <td width="70"> Submission Time</td>
        <td width="70">Uploaded Date</td>
      <td width="70">&nbsp;</td>
      <td width="70">&nbsp;</td>
      <td width="76">&nbsp;</td>
    </tr>
      {% for i in a %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;{{ i['title'] }}</td>
      <td>&nbsp;{{ i['dept_name'] }}</td>
      <td>&nbsp;{{ i['description'] }}</td>
      <td>&nbsp;{{ i['sdate'] }}</td>
      <td>&nbsp;{{ i['stime'] }}</td>
        <td>&nbsp;{{ i['uploaddate'] }}</td>
      <td><a href="/admin_edit_works/{{ i["work_id"] }}">Edit</a></td>
      <td><a href="/admin_delete_works/{{ i["work_id"] }}">Delete</a></td>
      <td><a href="/admin_work_assign/{{ i["work_id"] }}">Assign</a></td>
    </tr>
      {% endfor %}
  </table>
</form>

{% endblock %}