{% extends "admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="get" action="">
<h3 align="center">Manage Department</h3>
  <table class="table table-bordered">
    <tr>
      <th width="86">srl no</th>
      <th width="175">Department Name</th>
      <th width="175">Place</th>
      <th width="175">Latitude</th>
        <th width="175">Longitude</th>
      <th width="135">&nbsp;</th>
    </tr>

      {% for i in n %}

    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['dept_name'] }}</td>
      <td>&nbsp;{{ i['place'] }}</td>
      <td>&nbsp;{{ i['latitude'] }}</td>
       <td>&nbsp;{{ i['longitude'] }}</td>
      <td><a href="/admin_edit_dept/{{ i["dept_id"] }}" class="btn btn-outline-info">Edit</a>&nbsp;   <a href="/admin_delete_depat/{{ i["dept_id"] }}" class="btn btn-outline-danger">Delete</a></td>
    </tr>

      {% endfor %}


  </table>
</form>

{% endblock %}