{% extends "admin/index.html" %}
{% block body %}
<form action="/admin_leader_insert" method="post">
<h3 align="left">Team Leader Assignment</h3>
<table class="table">

    <tr>
        <td align="left">Choose department</td>
        <td>
            <select name="select" id="select" class="form-control">
            <option>--select--</option>
                {% for i in department %}
                <option value="{{ i['dept_id'] }}"> {{ i['dept_name'] }}</option>
            {% endfor %}

            </select></td>
  <tr>
    <td align="left">Staff</td>
    <td>
      <select name="select2" id="select2" class="form-control">
      </select></td>
  </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Assign" class="btn btn-success"/></td>
    </tr>

</table>
</form>


<script src="/static/jquery.js"></script>
<script>

    $(document).ready(function () {
        $("#select").change(function () {
            id=$(this).val();

            $.ajax({
                url:'/admin_leader_assign_post_ajax',
                type:'post',
                dataType:'json',
                data:{dept_id:id},

                success:function (res) {
                    data=res["data"]
                    len=data.length

                     $("#select2").text("")
                    $("#select2").append('<option value=0>--select--</option>')
                    for (var i=0;i<=len;i++)
                    {
                        lid=data[i]["lid"]
                        name=data[i]["name"]
                        $("#select2").append('<option value='+lid+'>'+name+'</option>')
                    }

                },
                error:function (res) {

                }
            });
        });

    });
</script>
{% endblock %}