<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/admin_view_assignedwork_search">
  <table width="480" height="54" border="0" align="center">
    <tr>
      <td width="130">Teamleader</td>
      <td width="156"><label for="select"></label>
        <select name="select" id="select"><option>--Select--</option>
            {% for i in leader %}
          <option value="{{ i['lid'] }}"> {{ i['name'] }}</option>
          {% endfor %}
      </select></td>
      <td width="172"><input type="submit" name="button" id="button" value="View" /></td>
    </tr>
  </table>
  
  <h2 align="center">Assigned work</h2>
  <table width="766" height="204" border="1" align="center">
    <tr>
      <td width="147" align="center">Title</td>
      <td width="177" align="center">Description</td>
      <td width="124" align="center">Submission Date</td>
      <td width="93" align="center">Submission Time</td>
      <td width="121" align="center">Uploading Date</td>
      <td width="121" align="center">&nbsp;</td>
        <td width="121" align="center">&nbsp;</td>
    </tr>
      {% for i in work %}

    <tr>
      <td>{{ i['title'] }}</td>
      <td>{{ i['description'] }}&nbsp;</td>
      <td>{{ i['sdate'] }}&nbsp;</td>
      <td>&nbsp;{{ i['stime'] }}</td>
      <td>&nbsp;{{ i['uploaddate'] }}</td>
        <td><a href="/admin_view_status/{{ i["work_id"] }}">View status</a></td>
      <td><a href="/admin_delete_assignedworks/{{ i["work_id"] }}">Delete</a></td>
    </tr>
{% endfor %}
  </table>
  <p align="center">&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
</html>
