<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/teamleader_assign_subduty_insert" method="post">
<h2 align="center">Assign Staff</h2>
<table width="474" height="134" border="1" align="center">
  <tr>
    <td width="207">Choose Staff</td>
    <td width="174"><label for="select"><input type="hidden" value="{{ sid }}" name="sub_id"></label>
      <select name="select" id="select">
          {% for i in staff %}
          <option value="{{ i['staff_id'] }}"> {{ i['name'] }}</option>
          {% endfor %}
      </select></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Assign" /></td>
  </tr>
</table>
</form>
</body>
</html>
