{% extends "teamleader/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/teamleader_changepassword_post">
<h3>Change Password</h3>
  <table class="table">
    <tr>
      <td>Old Password:</td>
      <td>
      <input type="text" name="textfield" id="textfield" class="form-control"/></td>
    </tr>
    <tr>
      <td>New password:</td>
      <td>
      <input type="text" name="textfield2" id="textfield2" class="form-control"/></td>
    </tr>
    <tr>
      <td>Confirm password:</td>
      <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Change" class="btn btn-outline-success"/></td>
    </tr>
  </table>
</form>

{% endblock %}