<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>edit_subduty</title>
</head>
<body>
<form action="" method="post">
    <h3 align="center">Edit subduty</h3>
	  <table width="406" height="172" border="0" align="center">
	    <tr>
	      <td width="203">Title</td>
	      <td width="187"><label for="textfield"></label>
          <input type="text" name="textfield" id="textfield" value=""></td>
        </tr>
	    <tr>
	      <td>Description</td>
	      <td><label for="textfield2"></label>
          <input type="text" name="textfield2" id="textfield2" value=""/></td>
        </tr>
	    <tr>
	      <td>Submission Date </td>
	      <td><label for="textfield3"></label>
          <input type="date" name="textfield3" id="textfield3" value=""/></td>
        </tr>
	    
          <tr>
	      <td>Uploaded Date</td>
	      <td><label for="textfield5"></label>
          <input type="date" name="textfield5" id="textfield5" value=""/></td>
        </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td><input type="submit" name="button" id="button" value="Update" /></td>
        </tr>
      </table>

    </form>
</body>
</html>