{% extends "teamleader/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/teamleader_manage_subduties">
<h3 align="center">Manage Subduty</h3>
  <table class="table table-bordered">
    <tr>
      <th width="49">No</th>
      <th width="91">Title</th>
      <th width="70">Description</th>
      <th width="70">Submission Date </th>
        <th width="70">Uploaded Date</th>
      <th width="70">&nbsp;</th>
      <th width="70">&nbsp;</th>
      <th width="76">&nbsp;</th>
    </tr>
      {% for i in sub %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;{{ i['title'] }}</td>
      <td>&nbsp;{{ i['description'] }}</td>
      <td>&nbsp;{{ i['sdate'] }}</td>
      <td>&nbsp;{{ i['udate'] }}</td>
      <td><a href="/teamleader_edit_subduties/{{ i['sub_id']}}" class="btn btn-outline-info">Edit</a></td>
      <td><a href="/teamleader_delete_subduties/{{ i['sub_id']}}" class="btn btn-outline-danger">Delete</a></td>
      <td><a href="/teamleader_assign_subduty/{{ i['sub_id'] }}" class="btn btn-outline-success">Assign</a></td>
    </tr>
      {% endfor %}
  </table>
</form>

{% endblock %}
