{% extends "teamleader/index.html" %}
{% block body %}
	<form action="/teamleader_subduty_creation_post" method="post">
    <h3 align="center">Subduty Creation </h3>
	  <table class="table">
	    <tr>
            <td>Title<input type="hidden" value="{{ a["work_id"] }}" name="wid" class="form-control"></td>
	      <td>
          <input type="text" name="textfield" id="textfield" class="form-control"/></td>
        </tr>
	    <tr>
	      <td>Description</td>
	      <td>
          <input type="text" name="textfield2" id="textfield2" class="form-control"/></td>
        </tr>
	    <tr>
	      <td>Submission Date </td>
	      <td>
          <input type="date" name="textfield3" id="textfield3" class="form-control"/></td>
        </tr>
	    
        <tr>
	      <td>Uploading Date </td>
	      <td>
          <input type="date" name="textfield4" id="textfield4" class="form-control"/></td>
        </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td><input type="submit" name="button" id="button" value="Create" class="btn btn-success"/></td>
        </tr>
      </table>
    
    </form>
{% endblock %}