<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
	<form action="" method="get">
    <h3 align="center">Subduty Creation </h3>
	  <table width="406" height="172" border="0" align="center">
	    <tr>
	      <td width="203">Title</td>
	      <td width="187"><label for="textfield"></label>
          <input type="text" name="textfield" id="textfield" /></td>
        </tr>
	    <tr>
	      <td>Description</td>
	      <td><label for="textfield2"></label>
          <input type="text" name="textfield2" id="textfield2" /></td>
        </tr>
	    <tr>
	      <td>Submission Date </td>
	      <td><label for="textfield3"></label>
          <input type="date" name="textfield3" id="textfield3" /></td>
        </tr>
	    
        <tr>
	      <td>Uploading Date </td>
	      <td><label for="textfield5"></label>
          <input type="date" name="textfield5" id="textfield5" /></td>
        </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td><input type="submit" name="button" id="button" value="Create" /></td>
        </tr>
      </table>
    
    </form>
</body>
</html>
