<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  
  <h2 align="center">Assigned work</h2>
  <table width="766" height="204" border="1" align="center">
    <tr>
      <td width="64" align="center">No</td>
      <td width="147" align="center">Title</td>
      <td width="177" align="center">Description</td>
      <td width="124" align="center">Submission Date</td>
      <td width="93" align="center">Submission Time</td>
      <td width="121" align="center">Uploading Date</td>
      <td width="121" align="center">&nbsp;</td>
        <td width="121" align="center">&nbsp;</td>
        <td width="121" align="center">&nbsp;</td>

    </tr>
      {% for i in work %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['title'] }}</td>
      <td>&nbsp;{{ i['description'] }}</td>
      <td>&nbsp;{{ i['sdate'] }}</td>
      <td>&nbsp;{{ i['stime'] }}</td>
      <td>&nbsp;{{ i['uploaddate'] }}</td>
      <td><a href="/teamleader_subduty_creation/{{ i['work_id'] }}">Subduty creation</a></td>
    <td><a href="/teamleader_manage_subduties/{{ i['work_id'] }}">View Subduties</a></td>
    <td><a href="/teamleader_upload_status">Upload Status </a></td>
    </tr>
    {% endfor %}
  </table>

</form>
</body>
</html>
