<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/teamleader_view_profile">
  
  
  <h2 align="center">Profile</h2>
  <table width="448" height="558" border="0" align="center">
    <tr>
      <td height="141" colspan="2">&nbsp;<img src="{{ i["photo"] }}" align="middle" height="100px" width="100px" alt=""/></td>
    </tr>
    <tr>
      <td width="218">Name</td>
      <td width="214">{{ i['name'] }}</td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td>{{ i['dob'] }}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>&nbsp;{{ i['gender'] }}</td>
    </tr>

    <tr>
      <td>Designation</td>
      <td>&nbsp;{{ i['designation'] }}</td>
    </tr>
    <tr>
      <td>Qualification</td>
      <td>&nbsp;{{ i['qualification'] }}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{ i['house_name'] }} <br>
      {{ i['place'] }}<br>
      {{ i['pin'] }}<br>
      {{ i['district'] }}<br>
    {{ i['state'] }}</td>
    </tr>
    <tr>
      <td>Contact</td>
      <td>&nbsp;{{ i['contact'] }}</td>
    </tr>
    <tr>
      <td height="44">Email</td>
      <td>{{ i['email'] }}</td>
    </tr>
    <tr>
      <td height="44">&nbsp;</td>
      <td><a href="/teamleader_changepassword">Change Password</a></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
