{% extends "teamleader/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/teamleader_view_profile">
  
  
  <h3 align="center">Profile</h3>
  <table class="table table-bordered">
    <tr>
      <th height="141" colspan="2">&nbsp;<img src="{{ i["photo"] }}" align="middle" height="100px" width="100px" alt=""/></th>
    </tr>
    <tr>
      <th width="218">Name</th>
      <td width="214">{{ i['name'] }}</td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td>{{ i['dob'] }}</td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>&nbsp;{{ i['gender'] }}</td>
    </tr>

    <tr>
      <th>Designation</th>
      <td>&nbsp;{{ i['designation'] }}</td>
    </tr>
    <tr>
      <th>Qualification</th>
      <td>&nbsp;{{ i['qualification'] }}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{ i['house_name'] }} <br>
      {{ i['place'] }}<br>
      {{ i['pin'] }}<br>
      {{ i['district'] }}<br>
    {{ i['state'] }}</td>
    </tr>
    <tr>
      <th>Contact</th>
      <td>&nbsp;{{ i['contact'] }}</td>
    </tr>
    <tr>
      <th height="44">Email</th>
      <td>{{ i['email'] }}</td>
    </tr>
    <tr>
      <td height="44">&nbsp;</td>
      <td><a href="/teamleader_changepassword" class="btn btn-outline-info">Change Password</a></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}
